<body class="accueil">
    <!-- LOGO DE L’HÔTEL -->
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo Hôtel" style="width: 150px; margin-bottom: 20px; border-radius: 12px; box-shadow: 0 0 8px #fff;">
    
    <h1 class="titre-principal">🏨 HOTEL PENSION <span class="highlight">LE PRESTIGE</span></h1>
    <h2 class="directeur">👨‍💼 Directeur : <span class="signature">HOUGBETODE Codjo Guy</span></h2>

    <a class="bouton-acces" href="{{ url_for('login') }}">Accéder à l’espace Gérant</a>
    <div class="ambigram-container">
    <div class="ambigram-normal">PRESTIGE</div>
    <div class="ambigram-miroir">PRESTIGE</div>
</div>

</body>
