<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion Gérant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome réceptionniste</h1>
        <h2>📝 Identifiez-vous</h2>

        {% if erreur %}
            <div class="popup">{{ erreur }}</div>
        {% endif %}

        <form method="POST" action="/gerant">
            <label for="nom">Nom</label>
            <input type="text" name="nom" id="nom" required>

            <label for="prenom">Prénom</label>
            <input type="text" name="prenom" id="prenom" required>

            <label for="mot_de_passe">Mot de passe</label>
            <input type="password" name="mot_de_passe" id="mot_de_passe" required>

            <button type="submit">Connexion</button>
        </form>
    </div>
</body>
</html>
